﻿@model N01609602_ShreyPatel_PassionProject.Models.Collaborator

@{
    ViewBag.Title = "Details";
}

<a href="/Collaborator/List">Back</a>
<hr />
<h2>Hello from Collaborator details</h2>
<p>@Model.CollaboratorFirstName</p>
<p>@Model.CollaboratorLastName</p>
<p>@Model.CollaboratorEmail</p>
<p>@Model.CollaboratorRole</p>

<hr />

<h2>Tasks</h2>
