﻿@model N01609602_ShreyPatel_PassionProject.Models.Collaborator

@{
    ViewBag.Title = "Collaborator Details";
}

<a href="/Collaborator/List" class="btn btn-secondary">Back To Collaborators</a>
<hr />
<h2>Collaborator details</h2>
<p>First Name: <span class="fw-bold text-secondary"> @Model.CollaboratorFirstName</span></p>
<p>Last Name: <span class="fw-bold text-secondary"> @Model.CollaboratorLastName</span></p>
<p>Email: <span class="fw-bold text-secondary"> @Model.CollaboratorEmail</span></p>
<p>Role: <span class="fw-bold text-secondary"> @Model.CollaboratorRole</span></p>

<hr />

<h2>Tasks</h2>
