﻿@model IEnumerable<N01609602_ShreyPatel_PassionProject.Models.Collaborator>

@{
    ViewBag.Title = "Collaborator List";
}

<div class="d-flex align-items-center gap-4">
    <h2>Collaborators</h2>
    <a href="/Collaborator/Add" class="btn btn-primary">Add Collaborator</a>
</div>
@foreach (var collaborator in Model)
{
    <div class="py-4 border-bottom">
        <h3><a href="/Collaborator/Details/@collaborator.CollaboratorId" class="text-dark">@collaborator.CollaboratorFirstName @collaborator.CollaboratorLastName</a></h3>
        <p class="text-dark">Email: <br /> @collaborator.CollaboratorEmail</p>
        <p class="text-dark">Role: <br /> <span class="fw">@collaborator.CollaboratorRole</span></p>
    </div>
}