@{
    ViewBag.Title = "Home Page";
}

﻿<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>TaskSync</h1>
        <p class="text-sm">A project management tool that helps you track what all projects are currently going on in your organisation. This also helps you track the number of tasks in each project and which collaborator is working on it.</p>
    </section>
    <section class="row">
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Projects</h5>
                    <p class="card-text">With projects you can perform the following functionalities</p>
                    <ul>
                        <li>Admin can create a brand new project</li>
                        <li>View project and what all tasks are associated with it. You can also see who is currently working on that task</li>
                        <li>Admin can update a project</li>
                        <li>Admin can delete a project</li>
                    </ul>
                    <a href="/Project/List" class="btn btn-primary">View Projects</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Collaborators</h5>
                    <p class="card-text">With collaborators you can perform the following functionalities</p>
                    <ul>
                        <li>Admin can create a new collaborator</li>
                        <li>Admin can view collaborator details and what all tasks are associated with him/her. You can also in what project the task currently is</li>
                        <li>Admin can update collaborator details</li>
                        <li>Admin can delete a collaborator</li>
                    </ul>
                    <a href="/Collaborator/List" class="btn btn-primary">View Collaborators</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Activities</h5>
                    <p class="card-text">With activities you can perform the following functionalities</p>
                    <ul>
                        <li>Admin can create new activity</li>
                        <li>Admin can view an activity</li>
                        <li>Admin can update an activity. He/She can change the collaborator and project associated to it</li>
                        <li>Admin can delete an activity</li>
                    </ul>                    
                    <a href="/Activity/List" class="btn btn-primary">View Activities</a>
                </div>
            </div>
        </div>
    </section>
</main>