@{
    ViewBag.Title = "Home Page";
}

﻿<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>TaskSync</h1>
        <p class="text-sm">A project management tool that helps you track what all projects are currently going on in your organisation. This also helps you track the number of tasks in each project and which collaborator is working on it.</p>
    </section>
    <section class="row">
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Projects</h5>
                    <a href="/Project/List" class="btn btn-primary btn-sm">View Projects</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Collaborators</h5>                 
                    <a href="/Collaborator/List" class="btn btn-primary btn-sm">View Collaborators</a>
                </div>
            </div>
        </div>
    </section>
</main>