@model N01609602_ShreyPatel_PassionProject.Models.ActivityDto
@{
    ViewBag.Title = "Confirm Delete Activity";
}

<h2>Confirm Delete <span class="text-danger"> @Model.ActivityName</span></h2>

<p class="mb-0 mt-3">Are you sure you want to delete
<p>Please keep in mind this action cannot be undone!</p>
<div class="d-flex align-items-center gap-4 mt-4">
    <a href="/Activity/Details/@Model.ActivityId" class="btn btn-secondary">Cancel</a>
    <form action="/Activity/Delete/@Model.ActivityId" method="POST">
        <input type="submit" class="btn btn-danger" value="Confirm Delete" />
    </form>
</div>
