﻿@model N01609602_ShreyPatel_PassionProject.Models.Project

@{
    ViewBag.Title = "Details";
}

<a href="/Project/List" class="btn btn-secondary">Back To Projects</a>
<hr />
<h2>Project details</h2>
<p>Project Name: <span class="fw-bold text-secondary">@Model.ProjectName</span></p>
<p>Project Description: <span class="fw-bold text-secondary">@Model.ProjectDescription</span></p>
<p>Project Due Date: <span class="fw-bold text-secondary">@Model.DueDate</span></p>

<hr />

<h2>Tasks</h2>
